.bodyy{
    background-color:white;
}
.p1{
    text-align: center;
}
.top-container{
    background-color: rgb(22, 66, 77);
    color:blanchedalmond;
    height: 600px;
    width: 100%;
    text-align: center;
    position:relative;
    
    
}
.mid-container{
    background-color: rgb(79, 78, 80);
    color:aquamarine;
    height: 900px;
    width: 100%;
    text-align: center;
    font-size: large;
}
.bottom-container{
    background-color: rgb(38, 17, 58);
    color:aquamarine;
    height: 300px;
    width: 100%;
    text-align: center;
    font-size: large;

}

